<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.component.css">
</head>
<body>
    
    <div class="container">
    <h1>Sign Up</h1>
    <form [formGroup]="userform" class="form-control">
        <label for="username">Name:</label >
            
        <input type="text" id="name" placeholder="Name" formControlName="name">
        
        <br>
        <br>
        <label for="username">Email:</label>
        <input type="email" id="email" placeholder="Email"formControlName="email">
        <br>
        <br>
        <label for="username">Password:</label>
        <input type="password" id="password" placeholder=" Password"formControlName="password">
        <br>
        <br>
        

        <button (click)="postdata()" class="button">Insert</button>
    </form>

<p>Already have an account?<a href="login.html">Log In</a></p>
</div>
<div class="sarvani">
    
</div>


     
</body>
</html>
